@{
    int punten = -1;
    if(IsPost)
    {
        Validation.RequireField("naam","Name is required");
        string naam = Request.Form["name"] ?? "";
        naam = naam.Replace("'", "");
        naam = naam.Replace("-","");
        var db = Database.Open("p4p");
        var row = db.QuerySingle("SELECT Punten FROM Kaarten WHERE Voornaam = @0",naam);
        if(row != null)
        {
            punten = row.Punten;
        }
        else
        {
             Validation.AddFormError("No record found with that name, please try again");
        }
        db.Close();
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <title>Koffiekaart Check</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Koffiekaart Check</h1>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                @if(!IsPost)
                {
                    <p>Welcome!</p>
                }
            </div>
            <div class="panel-body">
                 @if(!IsPost)
                {
                    <form method="post">
                        <div class="nameinput">
                            <div class="inputform">
                                <label for="name">Please give your full name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <button type="button" class="btn btn-info">Check</button>
                        </div>
                    </form>
                }
                @if(IsPost)
                {
                    <p>Test: Punten @punten</p> 
                }
            </div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
