@{
    int punten = -1;
    var count = 2121312321;
    var sql = "";
    if(IsPost)
    {
        Validation.RequireField("name","Please enter a valid name!");
        string naam = Request.Form["name"] ?? "";
        naam = naam.Replace("'", "");
        naam = naam.Replace("-","");
        naam = naam.Replace("<","");
        naam = naam.Replace(">", "");
        naam = naam.Replace("\"", "");
        var db = Database.Open("p4p");
        sql = "SELECT COUNT(*) FROM Kaarten WHERE Voornaam=@0";
        count = db.QueryValue(sql, naam);
        if(count == 1)
        {
            var row = db.QuerySingle("SELECT Punten FROM Kaarten WHERE Voornaam = @0",naam);
            punten = row.Punten;
        }
        db.Close();
    }

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <title>Koffiekaart Check</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <img alt="Koffiekaart Check" src="img/banner.png"/> 
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                @if(!IsPost || count == 0)
                {
                    <h2>Welcome!</h2>
                }
                @if(IsPost && count == 1)
                {
                    <h2>Welcome! @Request.Form["name"]</h2> 
                }
            </div>
            <div class="panel-body">
                 @if(!IsPost)
                {
                    <form method="post">
                        <div class="nameinput">
                            <div class="inputform">
                                <label for="name">Please give your full name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <button type="submit" class="btn btn-info">Check</button>
                        </div>
                    </form>
                }
                @if(!Validation.IsValid() || count == 0)
                {
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Alert!</strong> Please enter a valid name!
                    </div>
                    <form method="post">
                        <div class="nameinput">
                            <div class="inputform">
                                <label for="name">Please give your full name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <button type="submit" class="btn btn-info">Check</button>
                        </div>
                    </form>
                }
                @if(IsPost && count == 1)
                {
                    <p>U heeft @punten punt(en)!</p> 
                }
            </div>
             <div class="panel-footer">Copyright  © P4P Groep 28 2016</div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
